.gameBoardButtonUnpressed {
  background-color: inherit;
  border: 3px solid rgb(8, 53, 69);
  height: 80px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 6px;
}

.gameBoardButtonUnpressed:hover {
  border: 3px solid rgb(220, 220, 75);
  transform: scale(1.03);
}

.gameBoardButtonPressed {
  background-color: inherit;
  color: rgb(220, 220, 75);
  border: 3px solid rgb(220, 220, 75);  
  height: 80px; 
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  font-size: 2rem;
}